{% extends 'base.html' %}
{% block main %}
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-10 w-full">
	{% for post in posts %}
	<div class="bg-gray-50 p-6">
		<img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full h-60 object-cover" />
		<div class="flex flex-col gap-2 mt-6">
			<div class="flex text-gray-700 items-center gap-2 text-sm">
				<span>{{ post.published_date|date:"d M Y" }}</span>
				<div class="size-1 rounded-full bg-gray-700"></div>
				<span>{{ post.author_name }}</span>
			</div>
			<h3 class="font-bold text-xl">{{ post.title }}</h3>
			<p class="text-gray-700">
				{{ post.content|truncatewords:30 }}
			</p>
		</div>
	</div>
	{% endfor %}
</section>
{% endblock %}