{% extends 'base.html' %}
{% block main %}
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-10 w-full">
	<div class="bg-gray-50 p-6">
		<img src="" alt="" class="w-full h-60 bg-gray-50" />
		<div class="flex flex-col gap-2 mt-6">
			<div class="flex text-gray-700 items-center gap-2 text-sm">
				<span>20 de janeiro de 2024</span>
				<div class="size-1 rounded-full bg-gray-700"></div>
				<span>Luiz Bessa</span>
			</div>
			<h3 class="font-bold text-xl">Socialismo: uma avaliação da luta das esquerdas do século XXI</h3>
			<p class="text-gray-700">
				Análise das estratégias e desafios do socialismo nas lutas das
				esquerdas no século XXI, avaliando sua adaptação e impacto nas
				sociedades contemporâneas.
			</p>
		</div>
	</div>
</section>
{% endblock %}