{% extends "base.html" %}
{% load static %}
{% block main %}
<section class="flex h-full w-full items-center justify-between">
	<div class="max-w-md items-center">
		<h2 class="font-bold text-6xl leading-tight mb-7">Olá, meu nome é Luiz!</h2>
		<p>
			Bem-vindo ao meu site pessoal! Aqui, você encontrará
			uma vitrine dos meus projetos, habilidades e um pouco sobre
			quem eu sou. 
		</p>
	</div>

	<img src="{% static 'images/me.png' %}" alt="" class="self-end h-full pt-20">
</section>
{% endblock %}